@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.h-100{
    height: 100%;
}
.pt-100{
    padding-top: 100px;
}
.pt-150{
    padding-top: 150px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-150{
    padding-bottom: 150px;
}
:root{
    /* --theme-color: #323546; */
    --theme-color: #222831;
    --second-theme: #6f9eaf;
}
.section-title {
    text-align: center;
    margin-bottom: 80px;
}

.section-title h4 {
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    color: var(--theme-color);
}

.section-title h4:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}

.section-title h4::after {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: var(--theme-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}



.navbar-brand{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
}
.header-area{
    background-color: var(--theme-color);
    /* background: #242736; */
    color: #fff;
    position: fixed;
	z-index: 99;
	width: 100%;
}
.menu ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.login a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}




.Banner-area{
    background-color: var(--theme-color);
}
.image-section{
    /* background-image: url('../img/banner-image.png'); */
    height: 520px;
    width: 100%;
    background-size: cover;
}
.image-section img{
    height: 460px;
    width: 480px;
}
.banner-contnet{
    position: absolute;
    top: 25%;
    line-height: 20px;
}
.banner-contnet h4 {
	color: #fff;
	font-size: 80px;
	font-weight: 700;
    text-transform: uppercase;
    /* font-family: 'Pacifico', cursive;
    font-family: 'Raleway', sans-serif; */
    
}
.banner-contnet h6 {
	color: #fff;
	font-size: 40px;
	font-weight: 100;
	line-height: 2px;
	margin-left: 25px;
}
.banner-contnet p {
  color: #fff;
  line-height: 1px;
  font-size: 30px;
  font-weight: 200;
  /* letter-spacing: 22px; */
  text-transform: lowercase;
}
.banner-contnet button{
    margin-top: 20px;
    padding: 14px 50px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #fff;
}
.banner-contnet button.two {
    padding: 12px 50px;
    margin-left: 12px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
}
.banner-contnet button.two:hover{
    background-color: #fff;
    color: var(--theme-color);
}


.About-area{
    /* background-color: #864C49; */
    background-color: var(--second-theme);
}
.about-img{
    height: 430px;
    width: 100%;
    background-size: cover;
    background: url('../img/bal.jpg');
    border: 5px solid #fff;
}
.about-img:before{
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:rgb(0, 0, 0);
    opacity:.5;
}
.about-content{
    margin-left: 20px;
}
.about-content h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }
  
  .about-content span {
    font-size: 20px;
    line-height: 1px;
    font-weight: 100;
    color: #fff;
    position: relative;
  }
  .about-content button{
    margin-top: 20px;
    padding: 10px 50px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 10px;
  }
  .about-content button:hover{
      background-color: #f1f1f1;
  }
  /* .about-content span::after {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #ffffff;
	bottom: 0;
    left: 3%;
    top: 100%;
} */
  .about-content p {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
  }

  .progress{
      background-color: #fff;
      justify-content: flex-start;
      border-radius: 50px;
      align-items: center;
      position: relative;
      display: flex;
      height: 30px;
      width: 100%;
  }
  .pro-value{
      animation: load 5s normal forwards;
      border-radius: 50px;
      background-color: var(--theme-color);
      height: 65px;
      width: 0;
  }
  @keyframes load{
    0%{
        width: 0;
    }
    100%{
        width: 98%;
    }
}

  .pro-value2{
    animation: load2 5s normal forwards;
    border-radius: 50px;
    background-color: var(--theme-color);
    height: 65px;
    width: 0;
}
@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
.pro-value3{
    animation: load3 5s normal forwards;
    border-radius: 50px;
    background-color: var(--theme-color);
    height: 65px;
    width: 0;
}
@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
.pro-value4{
    animation: load4 5s normal forwards;
    border-radius: 50px;
    background-color: var(--theme-color);
    height: 65px;
    width: 0;
}
@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
  .progress p{
      color: #fff;
      padding: 12px;
  }
  .about-content button{
      font-size: 20px;
  }




  .work-area{
      background-color: #fff;
  }
  .portfolio-menu {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .portfolio-menu li {
    display: block;
    border: 1px solid var(--theme-color);
    padding: 10px 30px;
    cursor:pointer;
    border-radius: 10px;
    margin: 2px;
  }
  .portfolio-menu li.active {
	background-color: var(--theme-color);
	color: #fff;
	border: 0;
}
  .single-portfolio {
    overflow:hidden;
    position:relative;
    margin-bottom:30px;
    border: 1px solid rgb(173, 173, 173);
    padding: 20px;
  }
  .single-portfolio img {
    width: 100%;
    vertical-align: middle;
  }
  
.portfolio-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
    transition: .3s;
    opacity:0;
    cursor: pointer;
  }
  /* .portfolio-overlay:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 55%;
    left: 0;
    top: 0;
    z-index: -1;
  } */
  .portfolio-overlay a{
      text-decoration: none;
      background-color: var(--theme-color);
      color: #fff;
      padding: 5px 10px;
  }
  /* .portfolio-overlay h4 {
    text-transform: capitalize;
    font-size: 25px;
  } */
  .single-portfolio:hover .portfolio-overlay {
    top: 0;
    visibility: visible;
    opacity:1;
  }
  
.project-content p {
    line-height: 1px;
    margin-top: 10px;
    font-weight: 100;
  }
  .project-content h4 {
    text-transform: capitalize;
    font-size: 20px;
  }
  .project-content a {
    background: var(--theme-color);
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
  }
  .project-content small{
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 300;
  }




  .contact-area{
    /* background-color: #864C49; */
    background-color: var(--second-theme);
  }
  .contact-form input, .contact-form textarea {
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 5px 10px;
    margin-bottom: 15px;
    outline: none;
  }
  .contact-form textarea {
    height: 90px;
  }
  .contact-form input[type="submit"] {
    background-color: var(--theme-color);
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    border: 0;
    text-transform: uppercase;
  }
  .contact-form input[type="submit"]:hover{
      background-color: #10151b;
  }

  .footer-area{
      background-color: var(--theme-color);
  }
  .footer-area p{
      color: #fff;
  }
  .footer-content p{
      font-size: 20px;
  }
  .footer-content a{ 
      padding: 10px;
      font-size: 25px;
      color: #fff;
  }
  .footer-content a:hover{
      color: #434c58;
      cursor: pointer;
  }